# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
*.log

# Environments
.venv

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Cursor
.cursorignore
.cursorindexingignore

# Ruff stuff:
.ruff_cache/

# Data files
temp/
data/audio/